* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.nav {
    background-color: #000;
}
.nav a {
    text-align: center;
    padding: 10px 0;
    color: #FFF;
    text-decoration: none;
}

.nav a:hover {
    background-color: #666;
}


@media screen and (max-width: 480px) {
    .nav {
        display: none;
        flex-direction: column;

    }
    .nav a {
        width: 100%;
    }
    .buttonmob {
        position: absolute;
        top: 5px;
        right: 10px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .nav {
        display: none;
        flex-direction: column;
    }
    .nav a {
        width: 100%;
    }
    .buttonmob {
        position: absolute;
        top: 5px;
        right: 10px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    .nav {
        display: flex;
    }
    .nav a {
        width: 25%;
    }
    .buttonmob {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .nav {
        display: flex;

    }
    .nav a {
        width: 25%;
    }
    .buttonmob {
        display: none;
    }
}